In [ ]:
# importing the libraries

In [ ]:
import pandas as pd
import numpy as np

# Series

In [ ]:
# 1-d array object which contains sequence of value and an associated array of data labels 
# called index

In [ ]:
ser = pd.Series(['a','b','c','d'])

In [ ]:
ser

In [ ]:
# series with predefined index

In [ ]:
ser1 = pd.Series([8,4,6,9], index= ['a','b','c','d'])

In [ ]:
ser1

In [ ]:
# selection of values with the help of index

In [ ]:
ser1['c']

In [ ]:
ser1[['b','d']]

In [ ]:
# filtering with boolean array

In [ ]:
ser1>3

In [ ]:
ser1[ser1>3]

In [ ]:
ser1[ser1<=8]

In [ ]:
# Scalar Multiplication

In [ ]:
ser1*4

In [ ]:
# Mathematical Function implication on series

In [ ]:
np.exp(ser1)

In [ ]:
np.log(ser1)

In [ ]:
# value check with the help of "in" operator

In [ ]:
'a' in ser1

In [ ]:
'p' in ser1

In [ ]:
8 in ser1   # compatible with index value

In [ ]:
2 in ser   # as this series has numeric index value

In [ ]:
# Creating Series with Dictionary

In [ ]:
dic = {"Name": 'Mohan', 'key2': 25}

In [ ]:
ser2 = pd.Series(dic)

In [ ]:
ser2

In [ ]:
# overwriting of index in existing series

In [ ]:
student=['Name','Age','Qual']   # one or more values should be identical

In [ ]:
ser2= pd.Series(dic, index=student)

In [ ]:
ser2

In [ ]:
# isnull() and notnull()

In [ ]:
pd.isnull(ser2)

In [ ]:
pd.notnull(ser2)

In [ ]:
# arithmatic operation

In [ ]:
ndata = {'Ram': 35000, 'Aam': 71000, 'Shyam': 16000, 'Mohan': 5000}

In [ ]:
obj = pd.Series(ndata)

In [ ]:
name = ['Kamal', 'Dhamal', 'Amal', 'Pawal']

In [ ]:
obj1 = pd.Series(ndata, index=name)

In [ ]:
obj+obj1

In [ ]:
# assigning name to series

In [ ]:
obj1.name= 'person_sal'

In [ ]:
obj1

In [ ]:
# assigning name to index

In [ ]:
obj1.index.name = 'name'

In [ ]:
obj1

In [ ]:
# index alteration by assignment

In [ ]:
obj1.index = ['Bihar','Punjab','UP','MP']

In [ ]:
# Droping entries from axis in Series

In [ ]:
obj2= pd.Series(np.arange(6), index=list('abcdef'))

In [ ]:
obj2

In [ ]:
new_obj = obj2.drop('b')

In [ ]:
new_obj

In [ ]:
obj2.drop(['d','f'])

In [ ]:
obj2

In [ ]:
# Indexing, Slicing and Filtering with Series

In [ ]:
obj2['e']  #indexing

In [ ]:
obj2[2:4]  # Slicing

In [ ]:
obj2[['b','e']]   #indexing

In [ ]:
obj2[[1,3]]     #indexing

In [ ]:
obj2['b':'e']   # Slicing with labels

In [ ]:
obj2[obj2<3]   #  Filtering

In [ ]:
# modifying values

In [ ]:
obj2['b':'c'] = 5

In [ ]:
obj2

# DataFrame

a group of series, where each series contains a column of data

In [ ]:
# Dataframe friom dictionary

In [ ]:
data = {'name':['Raj','Mohan','Ramesh','Pinky'],
         'age':[20,21,25,19],
          'qual':['Grad','Engg','BSc','Bcom']}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
# manipulation over column position

In [ ]:
pd.DataFrame(data, columns=['age','name','qual'])

In [ ]:
df

In [ ]:
df1= pd.DataFrame(data, columns=['age','name','qual'])

In [ ]:
df1

In [ ]:
# if you pass column name more than the value in dictionry

In [ ]:
df2 = pd.DataFrame(data, columns=['name','age','qual','married'])

In [ ]:
df2

In [ ]:
# to check columns in dataframe

In [ ]:
df2.columns

In [ ]:
# to retrive column attribute

In [ ]:
df2['age']    #index method

In [ ]:
df2.age   # direct method

In [ ]:
# based on label i.e loc

In [ ]:
df2.loc[2]  #index value is provided here

In [ ]:
df2.loc[:,['age','name']]  # all rows along with age and name column

In [ ]:
df2.loc[:,'age']

In [ ]:
df2.loc[[1,3]]

In [ ]:
df.loc[[1,3],['age','name']]

In [ ]:
# based on position i.e iloc

In [ ]:
df2.iloc[0:2,1:3]

In [ ]:
df2.iloc[:,[3,1]]

In [ ]:
df2.iloc[[1,3],:]

In [ ]:
df2.iloc[[0,2],[0,3]]

In [ ]:
# column modification with assignment

In [ ]:
df2['married'] = 'No'

In [ ]:
df2

In [ ]:
df2['income']= 200

In [ ]:
df2

In [ ]:
df2['profession']=['Intern','Student','Student','Intern']

In [ ]:
df2

In [ ]:
# deletion of column from dataframe

In [ ]:
del df2['income']

In [ ]:
df2

In [ ]:
# Dictionary Creation with nested Dictionary

In [ ]:
data = {'Pune':{2001:4, 2002:9},
         'Hyd':{2000:5,2001:7,2002:3}}

In [ ]:
df3 = pd.DataFrame(data)   #outer key-- column  #inner key--index

In [ ]:
df3

In [ ]:
# Transpose

In [ ]:
df3.T

In [ ]:
# Index name

In [ ]:
df3.index.name = 'Year'

In [ ]:
# Column Name

In [ ]:
df3.columns.name = 'City'

In [ ]:
df3

# Reindexing

Reindexing-- create a new object with the data conformed(adoption) to a new index

In [ ]:
# Reindexing with Series

In [ ]:
a = pd.Series([1,2,3,4], index= list('abcd'))

In [ ]:
a_rindex = a.reindex(list('acdeb'))

In [ ]:
a

In [ ]:
a_rindex

In [ ]:
 #for ordered data, like time series, we can do interpolation i.e filling of values when reindeing.
 #we can do this by method -- ffill and bfill

In [ ]:
colour = pd.Series(['red','blue','green'], index=[0,2,4])

In [ ]:
colour1 = pd.Series(['red','blue','green'], index=[0,2,4])

In [ ]:
colour

In [ ]:
# ffill

In [ ]:
colour = colour.reindex(range(6),method='ffill')

In [ ]:
colour

In [ ]:
colour1 = colour1.reindex(range(6), method='bfill')

In [ ]:
colour1

In [ ]:
# Reindexing with DataFrame

In [ ]:
# in dataframe reindexing can alter either index or column or both

In [ ]:
df = pd.DataFrame(np.arange(9).reshape(3,3), index= list('acb'), columns= ['Hyd','Pune','Blore'])

In [ ]:
df1= df.reindex(list('abdc'))  # when only one sequence is pass it reindex the row/index

In [ ]:
df1

In [ ]:
city = ['Hyd','Pune','Mumbai']

In [ ]:
df2 = df.reindex(columns=city)   # columns can be reindex with columns keyword

In [ ]:
df2

In [ ]:
df3= df.reindex(list('abdc'), columns=city)

In [ ]:
df3

In [ ]:
# we can do reindexing by label indexing i.e by loc

In [ ]:
df4 = df.loc[['a','d','b','c'], city]

In [ ]:
df4

In [ ]:
# Droping entries from Axis with DataFrame

In [ ]:
df = pd.DataFrame(np.arange(16).reshape(4,4), index= list('abcd'), 
                  columns = ['Hyd','Pune','Blore','Kolkata'])

In [ ]:
df

In [ ]:
df.drop('c')    # dropping by index value

In [ ]:
df.drop('Blore', axis =1)    # dropping by columns

In [ ]:
df

In [ ]:
df.drop('Blore', axis =1, inplace = True)

In [ ]:
df

In [ ]:
# Indexing, Selection and Filtering with Dataframe

In [ ]:
data = pd.DataFrame(np.arange(16).reshape(4,4), index = list('abcd'),
                    columns = ['one','two','three','four'])

In [ ]:
data['two']     #indexing

In [ ]:
data[:2]     #slicing

In [ ]:
data[data['three']>5]     # Filtering

In [ ]:
data <5     #Boolean DataFrame

In [ ]:
data[data<5] = 0     #assinging values with boolean

In [ ]:
data

# Integer Index

In [ ]:
ser = pd.Series(np.arange(4))

In [ ]:
ser

In [ ]:
ser[1]

In [ ]:
ser[-1]

In [ ]:
ser[:2]

In [ ]:
ser.loc[:2]

In [ ]:
ser.iloc[-1]

In [ ]:
ser.iloc[-3:-1]

In [ ]:
ser2 = pd.Series(np.arange(4), index=list('abcd'))

In [ ]:
ser2[-1]

# Arithmetic and Data Alignment

In [ ]:
# with Series

In [ ]:
s1 = pd.Series(np.arange(3), index = list('abc'))
s2 = pd.Series(np.arange(5), index = ['a','c','e','f','g'])

In [ ]:
s1+s2

In [ ]:
# with dataframe

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape(3,3), columns = list('bcd'), index = ['one','two','three'])
df2 = pd.DataFrame(np.arange(12).reshape(4,3), columns = list('bde'), index = ['one','two','three','four'])

In [ ]:
df1+df2

In [ ]:
df3 = pd.DataFrame({'A':[1,2]})
df4 = pd.DataFrame({'B':[3,4]})

In [ ]:
df3+df4

In [ ]:
# Arithmetic method with fill value

In [ ]:
df5 = pd.DataFrame(np.arange(12).reshape(3,4), columns = list('bcde'))
df6 = pd.DataFrame(np.arange(20).reshape(4,5), columns = list('bdefc'))

In [ ]:
df6.loc[1,'b'] = np.nan

In [ ]:
df5+df6

In [ ]:
df5.add(df6, fill_value=0)

# Operation Between DataFrame and Series

In [ ]:
df6 = pd.DataFrame(np.arange(12).reshape(4,3), columns= list('abc'),
                   index = ['one','two','three','four'])

In [ ]:
df6

In [ ]:
series = df6.iloc[0]    # complete one row value

In [ ]:
series

In [ ]:
df6-series   # broadcasting down the rows as index value matches

In [ ]:
# if index value of series and column value of dataframe didn't match, 
#object will be reindexed to form union

In [ ]:
series2 = pd.Series(range(3), index=list('afc'))

In [ ]:
df6+series2

In [ ]:
# Broadcasting over Column

In [ ]:
series3 = df6['b']

In [ ]:
series3    # complete one column value

In [ ]:
df6.sub(series3, axis=0)

# Function Application and Mapping

In [ ]:
df7 = pd.DataFrame(np.random.randn(4,3), columns=list('bde'), index = ['one','two','three','four'])

In [ ]:
df7

In [ ]:
# Absolute Function

In [ ]:
np.abs(df7)

In [ ]:
# applying function on one dimensional array to each columns or row

In [ ]:
f= lambda x: x.max()-x.min()

In [ ]:
df7.apply(f)

In [ ]:
df7.apply(f, axis= 1)

In [ ]:
def f(x):
    return pd.Series([x.min(),x.max()], index = ['min','max'])
df7.apply(f)                                                      # Series with multiple values

In [ ]:
# Element wise Python function
d= lambda x: '%.2f'%x

In [ ]:
df7.applymap(d)

In [ ]:
df7['e'].map(d)

In [ ]:
def add_2(val):
    return val+2
df7.apply(add_2)

# Sorting and Ranking

In [ ]:
# sorting series with index

In [ ]:
obj = pd.Series( range(4), index=list('bdac'))

In [ ]:
obj

In [ ]:
obj.sort_index()

In [ ]:
# sorting series with values

In [ ]:
obj1 = pd.Series([4,-8,7,-1])

In [ ]:
obj1.sort_values()

In [ ]:
obj2 = pd.Series([4,-8,7,np.nan,-1, np.nan])

In [ ]:
obj2.sort_values()

In [ ]:
# Ranking in series

In [ ]:
obj3 = pd.Series([7, -5, 7, 4, 2, 0, 4])

In [ ]:
obj3.rank()

In [ ]:
obj3.rank(method = 'first')

In [ ]:
# sorting dataframe with index

In [ ]:
df8 = pd.DataFrame(np.arange(16).reshape(4,4), index = ['two','four','one','three'],
                   columns = list('dabc'))

In [ ]:
df8

In [ ]:
df8.sort_index()

In [ ]:
df8.sort_index(axis=1)

In [ ]:
# sorting dataframe with values

In [ ]:
df9 = pd.DataFrame({'b':[4,3],'a':[-9,11]})

In [ ]:
df9

In [ ]:
df9.sort_values(by='b')

In [ ]:
df9.sort_values(by=['a','b'])

In [ ]:
df9.sort_values(by=['b','a'])

In [ ]:
# Ranking in Dataframe

In [ ]:
data = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1], 'c': [-2, 5, 8, -2.5]})

In [ ]:
data

In [ ]:
data.rank()

In [ ]:
data.rank(axis=1)

In [ ]:
data.rank(method='first', axis = 1)

#  Summarizing and Computing Descriptive Statistics

In [ ]:
df = pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]], index = list('abcd'),
                  columns= ['one','two'])

In [ ]:
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis=1)

In [ ]:
df.mean(axis=1)

In [ ]:
df.idxmax()

In [ ]:
df.idxmin()

In [ ]:
df.describe()