In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import mode as mode
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv('C:/Users/gunja/Desktop/loan_prediction/train.csv')

In [ ]:
data.dtypes

In [ ]:
data.shape

# To check Missing Value

In [ ]:
data.isnull().sum()

In [ ]:
data.apply(lambda x: sum(x.isnull()))

In [ ]:
# Method 1    for numerical values where values are not in continuously increasing or decreasing order

In [ ]:
data['Credit_History'].replace(np.NaN, mode(data['Credit_History']).mode[0], inplace=True)

In [ ]:
data['Credit_History'].isnull().sum()

In [ ]:
# Method 2     for numerical value where values are not in continuously increasing or decreasing order

In [ ]:
data['Loan_Amount_Term'].fillna(mode(data['Loan_Amount_Term']).mode[0], inplace = True)

In [ ]:
data.Loan_Amount_Term.isnull().sum()

In [ ]:
# Method 3    for categorical values

In [ ]:
data['Self_Employed'].value_counts()

In [ ]:
data['Self_Employed'].fillna('No', inplace=True)
data['Gender'].fillna('Male', inplace=True)
data['Married'].fillna('Yes', inplace=True)
data['Dependents'].fillna('0', inplace=True)

In [ ]:
 # Method 3    for numerical value

In [ ]:
#data['LoanAmount'].fillna(data['LoanAmount'].mean(), inplace = True)

In [ ]:
# Method 4

In [ ]:
sns.boxplot(x='Education',y='LoanAmount', hue='Self_Employed', data=data)
plt.show()

In [ ]:
data.boxplot(column='LoanAmount', by=['Education','Self_Employed'])
plt.xticks(rotation='vertical')
plt.show()

In [ ]:
table = data.pivot_table(values='LoanAmount', index='Self_Employed',columns='Education',
                         aggfunc=np.median)
# Define function to return value of this pivot_table
def fage(x):
    return table.loc[x['Self_Employed'],x['Education']]
data['LoanAmount'].fillna(data[data['LoanAmount'].isnull()].apply(fage, axis=1), inplace=True)

# Removal of any Symbol

In [ ]:
data['Dependents'].unique()

In [ ]:
data['Dependents'].replace('\+', '', regex=True, inplace = True)

In [ ]:
data['Dependents'].unique()


# Data Exploration


Data Frame Navigation

In [ ]:
data.shape

In [ ]:
data.head(2)

In [ ]:
data.tail()

In [ ]:
data.info()

In [ ]:
data.index

In [ ]:
data.columns

In [ ]:
data.dtypes

In [ ]:
data.isnull().sum()


Categorical Value Exploration

In [ ]:
data['Dependents'].unique()

In [ ]:
data['Dependents'].value_counts()

In [ ]:
data['Education'].value_counts()

In [ ]:
data['Education'].unique()

Numerical Value Exploration

In [ ]:
data.describe()

In [ ]:
data.corr()

In [ ]:
# Scatter Plot

In [ ]:
sns.regplot(x=data["ApplicantIncome"], y=data["LoanAmount"], fit_reg=False)
plt.show()

In [ ]:
# Correlation via Visualization

In [ ]:
# Basic correlogram
sns.pairplot(data)
plt.show()

In [ ]:
# with regression
sns.pairplot(data, kind="reg")
plt.show()

In [ ]:
# without regression
sns.pairplot(df, kind="scatter")
plot.show()


Few more tips for DATA EXPLORATION

In [ ]:
# How to apply multiple filter criteria to a pandas DataFrame

In [ ]:
movies = pd.read_csv('http://bit.ly/imdbratings')

In [ ]:
movies.head(2)

In [ ]:
movies[movies.duration>=200]

In [ ]:
movies[(movies.duration>=200) & (movies.genre=='Drama')]

In [ ]:
movies[(movies.duration>=200) | (movies.genre=='Drama')]

In [ ]:
movies[(movies.genre=='Crime') | (movies.genre=='Drama') | (movies.genre=='Action')]

In [ ]:
movies[movies.genre.isin(['Crime','Drama','Action'])]

# How to use string methods in pandas

In [ ]:
orders = pd.read_csv('http://bit.ly/chiporders')

In [ ]:
orders.head()

In [ ]:
# to make col values in upper case

In [ ]:
orders.item_name.str.upper()

In [ ]:
# for filter/search

In [ ]:
orders[orders.item_name.str.contains('Chicken')]

In [ ]:
# to replace special characters

In [ ]:
orders.choice_description.str.replace('[','')

In [ ]:
orders.choice_description.str.replace('[','').str.replace(']','')

In [ ]:
# with regular expression

In [ ]:
orders.choice_description.str.replace('[\[\]]','')

# missing value treatment by drop

In [ ]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [ ]:
ufo.shape

In [ ]:
ufo.isnull().sum()

In [ ]:
ufo.dropna(how='any').shape

In [ ]:
ufo.dropna(how='all').shape

In [ ]:
ufo.dropna(subset=['City','Shape Reported'], how ='any').shape

In [ ]:
ufo.dropna(subset=['City','Shape Reported'], how ='all').shape

In [ ]:
ufo['Shape Reported'].value_counts()

In [ ]:
ufo['Shape Reported'].value_counts(dropna=False)

# How to make pandas DataFrame smaller and faster

In [ ]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [ ]:
drinks.info()

In [ ]:
drinks.info(memory_usage='deep')  # it check object column to check memory consumption

In [ ]:
drinks.memory_usage()   # to check memory usage of each column in bytes

In [ ]:
drinks.memory_usage(deep = True)   # actual size  in bytes

In [ ]:
""" int are more space efficient than strings"""

In [ ]:
sorted(drinks.continent.unique())

In [ ]:
drinks['continent'] = drinks.continent.astype('category')

In [ ]:
drinks.dtypes

In [ ]:
drinks.continent.cat.codes.head()

In [ ]:
drinks.memory_usage(deep=True)

In [ ]:
drinks['country'] = drinks.country.astype('category')

In [ ]:
drinks.memory_usage(deep=True)

"""every country was a different strings, so here we created 193 different categories,
previously it was 193 strings, now we are storing 193 int, which are small but it points to
a lookup table of 193 strings, so we are spending more memory than before to store the same thing
therefore use category datatypeonly when you have a object column of strings that only has a
few different values"""